@font-face {
  font-family: 'Formular';
  src:
    url('Formular.woff2') format('woff2'),
    url('Formular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src:
    url('Formular-Bold.woff2') format('woff2'),
    url('Formular-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

